mixin ipubl(data)
  .swiper-container.js-swiper-ipubl
    .swiper-wrapper
      each item in data
        .swiper-slide
          +b('a').publ(href="" class=item.last ? '--more' : '')
            if (item.last)
              +e('span').more Смотреть все
            else
              +e('div').cover(style="background-image: url('"+tmpsrc+item.cover+"');")
                +e('p').type(class=item.typeColor ? item.typeColor : '') #{item.type}
              +e('div').info(class=item.classIco ? item.classIco : '')
                +e('time').date #{item.date}
                +e('p').title #{item.title}
                +e('div').text !{item.text}
    .swiper-wall.swiper-wall--left
    .swiper-wall.swiper-wall--right
